.game {
  width: 100%;
  height: 100vh;
  background-color: $background-color;

  &__timer {
    @include flex-center;
    text-align: center;
    &--top {
      font-size: 1.5rem;
      font-weight: 700;
      border: 0.25rem solid $secondary-color;
      border-radius: 0 0rem 1rem 1rem;
      background-color: $primary-color;
      border-top: none;
      width: 10rem;
      padding: 0.25rem 0;
    }
  }
  &__easy {
    height: 90vh;
  }
  &__medium {
    height: 90vh;
  }
  &__hard {
    height: 90vh;
  }
}
