.menu__difficulty {
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.btn {
  &.selected {
    background-color: $tertiary-color;
  }
}
