.menu {
  background-color: $background-color;
  height: 100vh;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  &__wrapper {
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    border: 0.5rem solid $secondary-color;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__header {
    @include flex-center;
    h1 {
      font-size: 3rem;
    }
  }

  &__start {
    @include flex-center;
  }

  &__info {
    @include flex-center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: $primary-color;
    border: 0.1rem solid $secondary-color;
    border-radius: 1rem;
    font-weight: 700;
  }
}
