.menu {
  background-color: $background-color;
  height: 100vh;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  &__wrapper {
    position: relative;
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    border: 0.5rem solid $secondary-color;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__header {
    @include flex-center;
    h1 {
      font-size: 3rem;
    }
  }

  &__start {
    @include flex-center;
  }

  &__error {
    @include flex-center;
    position: absolute;
    bottom: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    font-style: italic;
    font-size: 0.75rem;
    color: $error-font-color;
    @media only screen and (max-width: 600px) {
      text-align: center;
      font-size: 1.25rem;
    }
  }

  &__info {
    @include flex-center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: $primary-color;
    border: 0.1rem solid $secondary-color;
    border-radius: 1rem;
    font-weight: 700;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: $tertiary-color;
    }
    &:active {
      transform: translateY(4px);
      border: 0.2rem solid $secondary-color;
      background-color: $tertiary-color;
    }
  }
}
